* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
}

#master {
	background-color: rgb(219, 142, 61);
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	user-select: none;
}

#container {
	width: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 3px solid black;
	border-radius: 15px;
	padding: 25px;
}

#title {
	font-size: 5rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-bottom: 100px;
}

#tema {
	font-size: 30px;
	margin-bottom: 80px;
}

#jogo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#texto {
	width: auto;
	display: flex;
	letter-spacing: 1px;
	font-size: 2rem;
}

#adivinhaLetra {
	margin-top: 35px;
	font-size: 1.4rem;
	width: 100px;
	text-align: center;
}

#letrasEscolhidas {
	display: flex;
	width: auto;
}

#forca {
	width: 550px;
	height: 550px;
	background-color: rgb(219, 142, 61);
	position: relative;
}

#img-forca {
	width: 550px;
	height: 550px;
	z-index: 1000;
}

#e1,
#e2,
#e3,
#e4,
#e5,
#e6 {
	position: absolute;
	font-size: 7.5rem;
	transform: translate(-50%, -50%);
	z-index: -1000;
}

#e1 {
	top: 295px;
	left: 425px;
}

#e2 {
	top: 375px;
	left: 425px;
}

#e3 {
	top: 380px;
	left: 410px;
}

#e4 {
	top: 380px;
	left: 440px;
}

#e5 {
	top: 480px;
	left: 410px;
}

#e6 {
	top: 480px;
	left: 440px;
}

@media ((max-width: 980px)) {
	#master {
		flex-direction: column;
	}
}
